/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: @dashboard-footer-height;
}
.dashboard-footer {
  position: absolute;
  bottom: 0;
  color: #999;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @dashboard-footer-height;
  background-color: #f4f4f4;
  padding:10px 20px;
  border-top: 1px solid #eaeaea;

  &.narrowed {
    left: @sidebar-width;
    width: auto;
    right: 0;
  }
}