.sidebar-dashboard{
	background-color: @ebony-clay;
	position: fixed;
	top: 0;
	left: 0;
	width: @sidebar-width;
	height: 100%;
	z-index: 11;
	.box-shadow(0 0 10px 1px rgba(0, 0, 0, 0.08));


	&.reveal {
		.transition(width 0.16s ease-in-out);

		+ .main-content {
			margin-left: 0;

			@media (min-width: @screen-sm-min) {
				margin-left: @sidebar-width;
			}
		}
	}

	&.shrink {
		left: -@sidebar-width;
		.transition(width 0.16s ease-in-out);

		> .sidebar-dashboard-header {

			> .btn-header-dashboard {
				.transition(all 0.16s ease-in-out);

				&, &:focus{
					background-color: rgba(255, 255, 255, 0.5);
					right: -50px;
					color: @sidebar-bg-color;
					.box-shadow(none);
					border-color: transparent;
					border-radius: 2px;
				}

				&:hover{
					background-color: #e5e5e5;
				}
			}

			// > .navbar-brand {
			// 	> span {
			// 		display: none;
			// 	}
			// }
		}

		// > .sidebar-nav {

		// 	> li {
		// 		position: relative;
		// 		> a {
		// 			> i {
		// 				vertical-align: middle;
		// 				font-size: 20px;
		// 				margin-left: 1px;
		// 			}
		// 			> span {
		// 				display: none;
		// 				vertical-align: middle;
		// 				position: absolute;
		// 				top: 0;
		// 				padding:11px 15px;
		// 				left: 52px;
		// 				background-color: @sidebar-bg-color;
		// 			}

		// 			&:hover {
		// 				> span {	
		// 					.transition(all 0.4s ease-in-out);
		// 					display: block;
		// 				}
		// 			}
		// 		}
		// 	}
		// }

		+ .main-content {
			margin-left: 0;
		}
	}

}

.btn-header-dashboard {
	.transition(all 0.16s ease-in-out);

	&, &:focus {
		position: absolute;
		right: -24px;
		color: #fff;
		top: 1px;
		border: 1px solid #fff;
		display: inline-block;
		border-radius: 20px;
		padding: 4px 9px;
		background-color: @brand-inverse;
		.box-shadow(0 0 4px rgba(0, 0, 0, 0.16));
	}

	&:hover{
		background-color: #fff;
		color: @brand-inverse;
	}
}

.sidebar-nav {

	> li {

		&.active > a,
		&.active > a:hover,
		&.active > a:focus {
			background-color: darken(spin(@sidebar-bg-color, -5), 2%);
			cursor: default;
			border-left-color: @brand-main;
			color: #7C99B3;

			> i {
				color: #7C99B3;
			}

		}

		> a {
			color: #7C99B3;
			border-left: 3px solid darken(spin(@sidebar-bg-color, -5), 5%);
			padding: 10px 16px 10px 13px;
			display: block;
			text-decoration: none;

			> i {
				display: inline-block;
			}

			> span {
				padding-left: 14px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
			}

			&:hover,
			&:focus {
				// background-color: darken(spin(@sidebar-bg-color, -5), 2%);
				color: #A0B7CC;
				border-left-color: darken(@brand-main, 15%);

				> i {
					color: @brand-main;
				}
			}
		}
	}
}

.sidebar-dashboard-header {
	&:extend(.clearfix all);
	position: relative;
	// background-color: #fff;

	> .navbar-brand {
		display: block;
		color: rgba(255, 255, 255, 0.6);

		> span {
			position: absolute;
			top: 15px;
			left: 46px;
			.transition(all 1s ease-in-out);
		}

		> img {
			.opacity(.6);
		}
	}
}