.panel-heading {
	&:extend(.clearfix all);

	.panel-default > & {	
		background-color: #fff;
	}
}

.ph-btn-wrap {
	float: right;

	> .list-inline {
		margin-bottom: 0;

		> li {

			a {
				color: #aaa;
				display: inline-block;

				&:hover,
				&:focus {
					color: #999;
				}
			}
		}
	}
}

.panel-title {
	text-transform: uppercase;
	color: #999;
	font-size: 12px;
}