//
// Polyfills
//

@is-oldie: false;
@is-responsive: true;


//
// Fonts
//

@base-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;


//
// Sizes
//




//
// Colors
//

// Base colors

@ebony-clay:				#22313F;

// Red group

@red-monza: #CF000F;



//
// Diff stuff
//

@sprite-image: url(../images/sprite.png);


// 
// Container Narrow
// 
@container-lg-narrowed:			1140px;

// 
// Sidebar
// 
@sidebar-width:				220px;

// Sticky footer

@dashboard-footer-height 			: 60px;
